.card {
    padding: 2rem ;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5rem; 
    font-weight: bold;
    filter: drop-shadow(0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.5));
  }
  
  .card-rating {
    background-color: #F5F8FF;
    border-radius: 4rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .ratings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 1.2rem;
  }

  
  .mat-mdc-progress-bar {
    height: 10px;
  }
  
  .mdc-linear-progress__bar-inner {
    border-top-width: 10px;
  }