<div class="col-12 h-100 d-flex flex-column align-content-center justify-content-center">
    <div class="py-4 text-center">
        <h3 class="card-title">Top de Trabajadores</h3>
        <div class="card-rating">
            <div class="ratings fs-4">
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-warning"></i>
                <i class="bx bxs-star text-secondary"></i>
            </div>
        </div>
        <p class="fs-7 text-secondary">40 customer ratings</p>
        <div class="container-fluid fs-6 fw-bold">
            <div class="row mb-4">
                <div class="col-3">
                    <span>5 star</span>
                </div>
                <div class="col-6 align-self-center text-start">
                    <mat-progress-bar class="mat-accent" mode="determinate" value="50">
                    </mat-progress-bar>
                </div>
                <div class="col-3">
                    <span>84%</span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-3">
                    <span>4 star</span>
                </div>
                <div class="col-6 align-self-center text-start">
                    <mat-progress-bar class="mat-accent" mode="determinate" value="50">
                    </mat-progress-bar>
                </div>
                <div class="col-3">
                    <span>10%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <span>3 star</span>
                </div>
                <div class="col-6 align-self-center text-start">
                    <mat-progress-bar class="mat-accent" mode="determinate" value="50">
                    </mat-progress-bar>
                </div>
                <div class="col-3">
                    <span>5%</span>
                </div>
            </div>
        </div>
    </div>

</div>