<div class="container">
    <div class="page-breadcrumb d-flex align-items-center mb-3 text-break">
        <div class="border-end pe-3 m-0 mat-h2">Widget</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ul class="list-inline mb-0 p-0 mat-h3">
                    <li class="list-inline-item"><i class="bx bx-home-alt"></i>
                    </li>
                    <li class="list-inline-item"><i class="bx bx-chevron-right"></i>
                    </li>
                    <li class="list-inline-item">Widgets</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-12">
        <mat-card class="text-break my-2" style="border-radius: 10px;">
            <mat-card-header class="m-0 justify-content-left">
                <mat-card-title>Toast Alert</mat-card-title>
            </mat-card-header>
            <mat-card-content class="container-fluid">
                <hr>
                <form [formGroup]="alertForm" (ngSubmit)="btnValidateSwall()">
                    <div class="row row-cols-1 row-cols-xl-4 ">
                        <div class="col">
                            <h4 class="fw-semibold">Text :</h4>
                            <mat-form-field appearance="outline" class="mb-3 w-100">
                                <mat-label>Title</mat-label>
                                <input matInput autocomplete="off" placeholder="Enter a title..."
                                    formControlName="title">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="mb-3 w-100">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="Enter a message..."
                                    formControlName="titleText"></textarea>
                            </mat-form-field>
                            <section class="w-100 mb-1">
                                <h4 class="fw-semibold">Buttons :</h4>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100"
                                    formControlName="toast">Toast
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100"
                                    formControlName="showConfirmButton">ShowConfirmButton
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100"
                                    formControlName="showDenyButton">ShowDenyButton
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100"
                                    formControlName="showCancelButton">ShowCancelButton</mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                    formControlName="focusConfirm">FocusConfirm
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                    formControlName="focusDeny">FocusDeny
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                    formControlName="focusCancel">FocusCancel
                                </mat-checkbox>
                            </section>
                            <section>
                                <mat-form-field appearance="outline" class="mb-3 w-100">
                                    <mat-label>confirmButtonText</mat-label>
                                    <input matInput autocomplete="off" placeholder="Enter a title..."
                                        formControlName="confirmButtonText">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mb-3 w-100">
                                    <mat-label>denyButtonText</mat-label>
                                    <input matInput autocomplete="off" placeholder="Enter a title..."
                                        formControlName="denyButtonText">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mb-3 w-100">
                                    <mat-label>cancelButtonText</mat-label>
                                    <input matInput autocomplete="off" placeholder="Enter a title..."
                                        formControlName="cancelButtonText">
                                </mat-form-field>
                            </section>
                        </div>
                        <div class="col">
                            <section class="w-100 mb-3">
                                <h4 class="fw-semibold">Inputs :</h4>
                                <mat-form-field appearance="outline" class="mb-3 w-100">
                                    <mat-label>Input</mat-label>
                                    <mat-select formControlName="input">
                                        <mat-option [value]="input" *ngFor="let input of inputType">{{input}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100"
                                    formControlName="inputActive">inputActive
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-3 w-100"
                                    formControlName="inputAutoFocus">inputAutoFocus
                                </mat-checkbox>
                                <h4 class="fw-semibold">Toast Type :</h4>
                                <mat-radio-group class="d-flex flex-column" formControlName="type">
                                    <mat-radio-button class="j-custom-mat-radio-button" [value]="type"
                                        *ngFor="let type of iconType">{{type}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>

                            <section class="w-100 mb-3">
                                <h4 class="fw-semibold">Toast Type :</h4>
                                <mat-radio-group class="d-flex flex-column" formControlName="position">
                                    <mat-radio-button class="j-custom-mat-radio-button" [value]="position"
                                        *ngFor="let position of positionType">{{position}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>

                        </div>
                        <div class="col">
                            <h4 class="fw-semibold">Options :</h4>
                            <mat-form-field appearance="outline" class="mb-3 w-100">
                                <mat-label>Icon Color</mat-label>
                                <input matInput autocomplete="off" formControlName="iconColor">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="mb-3 w-100" *ngIf="!this.alertForm.get('toast')?.value">
                                <mat-label>Width</mat-label>
                                <input matInput autocomplete="off" formControlName="with">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="mb-3 w-100">
                                <mat-label>Timer</mat-label>
                                <input matInput type="number" autocomplete="off" formControlName="timer" placeholder="Ejem: 1000,2000,3000...">
                            </mat-form-field>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                formControlName="backdrop">BackDrop
                            </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100"
                                formControlName="timerProgressBar">Timer ProgessBar
                            </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                formControlName="heightAuto">Heigth Auto
                            </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-2 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                formControlName="allowOutsideClick">allowOutsideClick
                            </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-3 w-100" *ngIf="!this.alertForm.get('toast')?.value"
                                formControlName="returnFocus">returnFocus
                            </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-3 w-100"
                            formControlName="showCloseButton">showCloseButton
                        </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-3 w-100"
                                formControlName="customClassToast">customClassToastActive
                            </mat-checkbox>
                            <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-3 w-100"
                                formControlName="customClassActions">customClassActionsActive
                            </mat-checkbox>
                            <section>
                                <h4 class="fw-semibold">Custom Class Toast:</h4>
                                <ng-container formGroupName="customClass">
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>container</mat-label>
                                        <input matInput autocomplete="off" formControlName="container">
                                        <mat-hint align="start" *ngIf="this.alertForm.get('customClassToast')?.value">
                                            <strong style="color: purple;">Class is Active</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>popup</mat-label>
                                        <input matInput autocomplete="off" formControlName="popup">
                                        <mat-hint align="start" *ngIf="this.alertForm.get('customClassToast')?.value">
                                            <strong style="color: purple;">Class is Active</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </ng-container>

                            </section>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column h-100">
                                <h4 class="fw-semibold">Custom Class Actions:</h4>
                                <ng-container formGroupName="customClass">
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>actions</mat-label>
                                        <input matInput autocomplete="off" formControlName="actions">
                                        <mat-hint align="start" *ngIf="this.alertForm.get('customClassActions')?.value">
                                            <strong style="color: purple;">Class is Active</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>confirmButton</mat-label>
                                        <input matInput autocomplete="off" formControlName="confirmButton">
                                        <mat-hint align="start" *ngIf="this.alertForm.get('customClassActions')?.value">
                                            <strong style="color: purple;">Class is Active</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>cancelButton</mat-label>
                                        <input matInput autocomplete="off" formControlName="cancelButton">
                                        <mat-hint align="start" *ngIf="this.alertForm.get('customClassActions')?.value">
                                            <strong style="color: purple;">Class is Active</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>denyButton</mat-label>
                                        <input matInput autocomplete="off" formControlName="denyButton">
                                        <mat-hint align="start" *ngIf="this.alertForm.get('customClassActions')?.value">
                                            <strong style="color: purple;">Class is Active</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </ng-container>


                                <mat-checkbox color="primary" class="j-custom-mat-checkbox mb-3 w-100"
                                    formControlName="activeShowHideClass">Active Animations
                                </mat-checkbox>
                                <ng-container formGroupName="showClass">
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>showClass</mat-label>
                                        <textarea matInput placeholder="Enter a message..."
                                            formControlName="popup"></textarea>
                                    </mat-form-field>
                                </ng-container>
                                <ng-container formGroupName="hideClass">
                                    <mat-form-field appearance="outline" class="mb-3 w-100">
                                        <mat-label>hideClass</mat-label>
                                        <textarea matInput placeholder="Enter a message..."
                                            formControlName="popup"></textarea>
                                    </mat-form-field>
                                </ng-container>
                                <div class="d-flex flex-column my-auto">
                                    <button mat-stroked-button type="submit" color="primary"
                                        class="mb-3 j-custom-mat-stroked-button-primary">Show
                                        Toast</button>
                                    <button mat-stroked-button type="button" color="accent"
                                        class="mb-3 j-custom-mat-stroked-button-accent">Show
                                        Toast</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>