<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Contact Us</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href=''>
  <script src=''></script>
</head>

<body>
  <div class="content">
    <h1 class="contact">Contact <span>Us</span></h1>
  <div class="contact-grupo">
     <div class="contact-form">
    <h3>Contact Us</h3>
    <form action="">
      <p>
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" name="nombre completo" id="nombreCompleto">
      </p>
      <p>
        <label for="correo">Correo</label>
        <input type="email" name="correo" id="correo">
      </p>
      <p>
        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono">
      </p>
      <p>
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" id="mensaje" rows="3"></textarea>
      </p>
      <p>
        <button type="submit">
         Enviar
        </button>
      </p>
    </form>
     </div>
     <div class="contact-info">
      <h4>Mas Info</h4>
      <p>Nos proponemos a desarrollar un sistema para fomentar
         el empleo el cual permitirá agilizar el ámbito economíco
         .Con esto queremos facilitar que trabajadores de oficio puedan encontrar trabajo
         de manera inmediata. </p>
     </div>
  </div>
  </div>
</body>
</html>
