<!-- 
<div class="bg"></div>
<div class="container d-flex min-vh-100 text-wrap text-break darkMode text-white overflow-hidden ">
<section class="row align-items-center justify-content-center">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <footer class="text-center footer">
    <p>Coded with &hearts; by <a class="text-white fw-bold">Yinka.</a></p>
  </footer>
</section>
</div> -->


<div class="bg"></div>
<div class="container-fluid d-flex content text-wrap text-break darkMode text-white">
  <section class="row align-items-center justify-content-center">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <footer class="text-center footer">
      <p>Coded with &hearts; by <a class="text-white fw-bold">Yinka.</a></p>
    </footer>
  </section>
</div>