<div class="container">
    <div class="page-breadcrumb d-flex align-items-center mb-3 text-break">
        <div class="border-end pe-3 m-0 mat-h2">Widget</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ul class="list-inline mb-0 p-0 mat-h3">
                    <li class="list-inline-item"><i class="bx bx-home-alt"></i>
                    </li>
                    <li class="list-inline-item"><i class="bx bx-chevron-right"></i>
                    </li>
                    <li class="list-inline-item">Widgets</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-12">
        <mat-card class="text-break my-2" style="border-radius: 10px;">
            <mat-card-header class="m-0 justify-content-left">
                <mat-card-title>Stroked</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <hr>
                    <div class="d-flex flex-wrap">
                        <div class="col-12 p-2">
                            <section class="d-flex flex-column flex-sm-row flex-wrap justify-content-evenly">
                                <button class="m-2 j-custom-mat-stroked-button-basic j-mat-button-ms-basic" mat-stroked-button>
                                    <i class="fas fa-cloud-arrow-down fa-md"></i> Basic</button>
                                <button class="m-2 j-custom-mat-stroked-button-primary j-mat-button-ms-primary" mat-stroked-button color="primary">Primary</button>
                                <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent" mat-stroked-button color="accent">Accent</button>
                                <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn" mat-stroked-button color="warn">Warn</button>
                                <button class="m-2" mat-stroked-button disabled>Disabled</button>
                            </section>
                        </div>
                        <hr>
                        <div class="col-12 p-2">
                            <section class="d-flex flex-column flex-sm-row flex-wrap justify-content-evenly">
                                <button class="m-2 j-custom-mat-stroked-button-basic j-mat-button-ms-basic j-mat-button-border-radius" mat-stroked-button>
                                    <i class="fas fa-cloud-arrow-down fa-md"></i> Basic</button>
                                <button class="m-2 j-custom-mat-stroked-button-primary j-mat-button-ms-primary j-mat-button-border-radius" mat-stroked-button color="primary">Primary</button>
                                <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Accent</button>
                                <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Warn</button>
                                <button class="m-2" mat-stroked-button disabled>Disabled</button>
                            </section>
                        </div>
                    </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12">
        <mat-card class="text-break my-2" style="border-radius: 10px;">
            <mat-card-header class="m-0 justify-content-left">
                <mat-card-title>Raised</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <hr>
                <div class="d-flex flex-wrap">
                    <div class="col-12 p-2">
                        <section class="d-flex flex-column flex-sm-row flex-wrap justify-content-evenly">
                            <button class="m-2 j-custom-mat-raised-button-basic j-mat-button-ms-basic-2" mat-raised-button>
                                <i class="fas fa-cloud-arrow-down fa-md"></i> Basic</button>
                            <button class="m-2 j-custom-mat-raised-button-primary j-mat-button-ms-primary" mat-raised-button color="primary">Primary</button>
                            <button class="m-2 j-custom-mat-raised-button-accent j-mat-button-ms-accent" mat-raised-button color="accent">Accent</button>
                            <button class="m-2 j-custom-mat-raised-button-warn j-mat-button-ms-warn" mat-raised-button color="warn">Warn</button>
                            <button class="m-2" mat-raised-button disabled>Disabled</button>
                        </section>
                    </div>
                    <hr>
                    <div class="col-12 p-2">
                        <section class="d-flex flex-column flex-sm-row flex-wrap justify-content-evenly">
                            <button class="m-2 j-custom-mat-raised-button-basic j-mat-button-ms-basic-2 j-mat-button-border-radius" mat-raised-button>
                                <i class="fas fa-cloud-arrow-down fa-md"></i> Basic</button>
                            <button class="m-2 j-custom-mat-raised-button-primary j-mat-button-ms-primary j-mat-button-border-radius" mat-raised-button color="primary">Primary</button>
                            <button class="m-2 j-custom-mat-raised-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-raised-button color="accent">Accent</button>
                            <button class="m-2 j-custom-mat-raised-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-raised-button color="warn">Warn</button>
                            <button class="m-2" mat-raised-button disabled>Disabled</button>
                        </section>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>