<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="col my-3">
        <mat-card class="j-overlay col w-100 pb-3 border rounded-3" >
            <mat-card-content class="h-100">
                <div class="w-100 h-100">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 py-4 text-center">
                            <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h2 class="mb-0 mt-5">Pauline I. Bird</h2>
                            <p class="mb-3 text-secondary">Webdeveloper</p>
                            <div class="d-flex align-items-center my-3 fs-6 justify-content-center">
                                <div class="cursor-pointer">
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-secondary"></i>
                                </div>	
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div class="overlay">
                <div class="d-flex flex-column my-auto justify-content-center w-100 px-3 align-items-center">
                    <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Profile</button>
                    <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Order History</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col my-3">
        <mat-card class="j-overlay col w-100 pb-3  border rounded-3">
            <mat-card-content class="h-100">
                <div class="w-100 h-100">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 py-4 text-center">
                            <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h2 class="mb-0 mt-5">Pauline I. Bird</h2>
                            <p class="mb-3 text-secondary">Webdeveloper</p>
                            <div class="d-flex align-items-center my-3 fs-6 justify-content-center">
                                <div class="cursor-pointer">
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-secondary"></i>
                                </div>	
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div class="overlay">
                <div class="d-flex flex-column my-auto justify-content-center w-100 px-3 align-items-center">
                    <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Profile</button>
                    <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Order History</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col my-3">
        <mat-card class="j-overlay col w-100 pb-3 border rounded-3">
            <mat-card-content class="h-100">
                <div class="w-100 h-100">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 py-4 text-center">
                            <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h2 class="mb-0 mt-5">Pauline I. Bird</h2>
                            <p class="mb-3 text-secondary">Webdeveloper</p>
                            <div class="d-flex align-items-center my-3 fs-6 justify-content-center">
                                <div class="cursor-pointer">
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-secondary"></i>
                                </div>	
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div class="overlay">
                <div class="d-flex flex-column my-auto justify-content-center w-100 px-3 align-items-center">
                    <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Profile</button>
                    <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Order History</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col my-3">
        <mat-card class="j-overlay col w-100 pb-3  border rounded-3">
            <mat-card-content class="h-100">
                <div class="w-100 h-100">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 py-4 text-center">
                            <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h2 class="mb-0 mt-5">Pauline I. Bird</h2>
                            <p class="mb-3 text-secondary">Webdeveloper</p>
                            <div class="d-flex align-items-center my-3 fs-6 justify-content-center">
                                <div class="cursor-pointer">
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-secondary"></i>
                                </div>	
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div class="overlay">
                <div class="d-flex flex-column my-auto justify-content-center w-100 px-3 align-items-center">
                    <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Profile</button>
                    <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Order History</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col my-3">
        <mat-card class="j-overlay col w-100 pb-3  border rounded-3">
            <mat-card-content class="h-100">
                <div class="w-100 h-100">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 py-4 text-center">
                            <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h2 class="mb-0 mt-5">Pauline I. Bird</h2>
                            <p class="mb-3 text-secondary">Webdeveloper</p>
                            <div class="d-flex align-items-center my-3 fs-6 justify-content-center">
                                <div class="cursor-pointer">
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-secondary"></i>
                                </div>	
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div class="overlay">
                <div class="d-flex flex-column my-auto justify-content-center w-100 px-3 align-items-center">
                    <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Profile</button>
                    <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Order History</button>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col my-3">
        <mat-card class="j-overlay col w-100 pb-3  border rounded-3">
            <mat-card-content class="h-100">
                <div class="w-100 h-100">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 py-4 text-center">
                            <img src="assets/images/avatars/avatar-1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h2 class="mb-0 mt-5">Pauline I. Bird</h2>
                            <p class="mb-3 text-secondary">Webdeveloper</p>
                            <div class="d-flex align-items-center my-3 fs-6 justify-content-center">
                                <div class="cursor-pointer">
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-warning"></i>
                                  <i class="bx bxs-star text-secondary"></i>
                                </div>	
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div class="overlay">
                <div class="d-flex flex-column my-auto justify-content-center w-100 px-3 align-items-center">
                    <button class="m-2 j-custom-mat-stroked-button-accent j-mat-button-ms-accent j-mat-button-border-radius" mat-stroked-button color="accent">Profile</button>
                    <button class="m-2 j-custom-mat-stroked-button-warn j-mat-button-ms-warn j-mat-button-border-radius" mat-stroked-button color="warn">Order History</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
