<div class="row py-2">
    <div class="col-12">
        <mat-card class="w-100 text-break mb-3">
            <mat-card-content class="p-0">
                <div class="d-flex">
                    <div class="col-5 image-container">
                        <div class="d-block">
                            <img src="./../../../../../assets/aizen.jpg" class="gallery-image" alt="Image">
                        </div>
                    </div>
                    <div class="col-7 px-3 py-2">
                        <h3 class="">Card title</h3>
                        <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex align-items-center my-3 fs-6 justify-content-start">
                            <div class="cursor-pointer">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-secondary"></i>
                            </div>	
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12">
        <mat-card class="w-100 text-break mb-3">
            <mat-card-content class="p-0">
                <div class="d-flex">
                    <div class="col-5 image-container" >
                        <div class="d-block">
                            <img src="./../../../../../assets/ichigo_ulquiorra.jpg" class="gallery-image" alt="Image">
                        </div>                                         
                    </div>
                    <div class="col-7 px-3 py-2">
                        <h3 class="">Card title</h3>
                        <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex align-items-center my-3 fs-6 justify-content-start">
                            <div class="cursor-pointer">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-secondary"></i>
                            </div>	
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12">
        <mat-card class="w-100 text-break mb-3">
            <mat-card-content class="p-0">
                <div class="d-flex">
                    <div class="col-5 image-container" >
                        <div class="d-block">
                            <img src="./../../../../../assets/ichigo_ulquiorra.jpg" class="gallery-image" alt="Image">
                        </div>                                         
                    </div>
                    <div class="col-7 px-3 py-2">
                        <h3 class="">Card title</h3>
                        <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex align-items-center my-3 fs-6 justify-content-start">
                            <div class="cursor-pointer">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-secondary"></i>
                            </div>	
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12">
        <mat-card class="w-100 text-break mb-3">
            <mat-card-content class="p-0">
                <div class="d-flex">
                    <div class="col-5 image-container" >
                        <div class="d-block">
                            <img src="./../../../../../assets/ichigo_ulquiorra.jpg" class="gallery-image" alt="Image">
                        </div>                                         
                    </div>
                    <div class="col-7 px-3 py-2">
                        <h3 class="">Card title</h3>
                        <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex align-items-center my-3 fs-6 justify-content-start">
                            <div class="cursor-pointer">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-secondary"></i>
                            </div>	
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12">
        <mat-card class="w-100 text-break mb-3">
            <mat-card-content class="p-0">
                <div class="d-flex">
                    <div class="col-5 image-container" >
                        <div class="d-block">
                            <img src="./../../../../../assets/ichigo_ulquiorra.jpg" class="gallery-image" alt="Image">
                        </div>                                         
                    </div>
                    <div class="col-7 px-3 py-2">
                        <h3 class="">Card title</h3>
                        <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex align-items-center my-3 fs-6 justify-content-start">
                            <div class="cursor-pointer">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-secondary"></i>
                            </div>	
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>