<div class="container">
    <div class="row mb-3">
        <div class="col-12 col-lg-12">
            <mat-card class="col w-100 mb-3">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="py-2">
                          <app-search></app-search>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-lg-12">
            <mat-card class="col w-100 mb-3">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="py-2">
                           <app-history-list></app-history-list>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
