<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 mb-3">
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Sessions</p>
                                <h1 class="mb-0">32,842 <small class="mat-small mb-0 text-success"> (+40%)</small></h1>
                                <small class="mat-small mb-0 text-success">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-gradient-cosmic text-white"
                                style="font-size: 35px;">
                                <i class='bx bx-refresh'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Users</p>
                                <h1 class="mb-0">16,352 <small class="mat-small mb-0 text-success"> (+22%)</small></h1>
                                <small class="mat-small mb-0 text-success">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-gradient-burning text-white"
                                style="font-size: 35px;">
                                <i class='bx bx-group'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Time on Site</p>
                                <h1 class="mb-0">34m 14s <small class="mat-small mb-0 text-success"> (+55%)</small></h1>
                                <small class="mat-small mb-0 text-success">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-gradient-lush text-white"
                                style="font-size: 35px;">
                                <i class='bx bx-time'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Goal Completions</p>
                                <h1 class="mb-0">1,94,2335</h1>
                                <small class="mat-small mb-0">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-gradient-kyoto text-white"
                                style="font-size: 35px;">
                                <i class='bx bxs-cube'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Bounce Rate</p>
                                <h1 class="mb-0">58% <small class="mat-small mb-0 text-danger"> (-16%)</small></h1>
                                <small class="mat-small mb-0 text-danger">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-gradient-blues text-white"
                                style="font-size: 35px;">
                                <i class='bx bx-line-chart'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">New Sessions</p>
                                <h1 class="mb-0">96% <small class="mat-small mb-0 text-danger"> (+54%)</small></h1>
                                <small class="mat-small mb-0 text-danger">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-gradient-moonlit text-white"
                                style="font-size: 35px;">
                                <i class='bx bx-bar-chart'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <mat-card class="text-break my-3">
                <mat-card-header class="m-0 justify-content-center">
                    <mat-card-title>Hospital Activities</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12">
                            <div *ngIf="loadingChartSpinner; else contentChartHospital">
                                <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <ng-template #contentChartHospital>
                                <!-- Here is where your loaded content goes! -->
                                <apx-chart class="row" #hospital [series]="chartOptionsHospital?.series"
                                [chart]="chartOptionsHospital?.chart" [legend]="chartOptionsHospital?.legend"
                                [markers]="chartOptionsHospital?.markers" [grid]="chartOptionsHospital?.grid"
                                [stroke]="chartOptionsHospital?.stroke" [colors]="chartOptionsHospital?.colors"
                                [xaxis]="chartOptionsHospital?.xaxis" [fill]="chartOptionsHospital?.fill"
                                [dataLabels]="chartOptionsHospital?.dataLabels"
                                [tooltip]="chartOptionsHospital?.tooltip"></apx-chart>
                            </ng-template>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-lg-4 my-auto">
            <div class="col">
                <mat-card class="text-break my-4 bg-gradient-cosmic text-white" style="border-radius: 10px;">
                    <mat-card-content class="dashboard-card-content">
                        <div class="d-flex flex-column">
                            <div class="d-flex mb-3">
                                <div class="me-auto align-self-center" style="font-size: 50px;">
                                    <i class='bx bx-refresh'></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="mb-0 ms-auto">2.69%</p>
                                    <p class="mb-0">Since Last Month</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="align-self-center">
                                    <p class="mb-0">Appointments</p>
                                    <h1 class="mb-0">1879</h1>
                                </div>
                                <div class="ms-auto align-self-center">
                                    <div class="col-md-12">
                                        <div *ngIf="loadingChartSpinner; else contentChartAppointments">
                                            <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                            </mat-progress-spinner>
                                        </div>
                                        <ng-template #contentChartAppointments>
                                            <!-- Here is where your loaded content goes! -->
                                            <apx-chart class="row" #appointments [series]="chartOptionsAppointments?.series"
                                            [chart]="chartOptionsAppointments?.chart"
                                            [plotOptions]="chartOptionsAppointments?.plotOptions"
                                            [colors]="chartOptionsAppointments?.colors"
                                            [tooltip]="chartOptionsAppointments?.tooltip"
                                            [fill]="chartOptionsAppointments?.fill"
                                            [dataLabels]="chartOptionsAppointments?.dataLabels"></apx-chart>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="text-break my-4 bg-gradient-burning text-white" style="border-radius: 10px;">
                    <mat-card-content class="dashboard-card-content">
                        <div class="d-flex flex-column">
                            <div class="d-flex mb-3">
                                <div class="me-auto align-self-center" style="font-size: 50px;">
                                    <i class='bx bx-refresh'></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="mb-0 ms-auto">3.56%</p>
                                    <p class="mb-0">Since Last Month</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="align-self-center">
                                    <p class="mb-0">Surgery</p>
                                    <h1 class="mb-0">3768</h1>
                                </div>
                                <div class="ms-auto align-self-center">
                                    <div class="col-md-12">
                                        <div *ngIf="loadingChartSpinner; else contentChartSurgery">
                                            <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                            </mat-progress-spinner>
                                        </div>
                                        <ng-template #contentChartSurgery>
                                            <!-- Here is where your loaded content goes! -->
                                            <apx-chart class="row" #surgery [series]="chartOptionsSurgery?.series"
                                            [chart]="chartOptionsSurgery?.chart"
                                            [plotOptions]="chartOptionsSurgery?.plotOptions"
                                            [colors]="chartOptionsSurgery?.colors"
                                            [tooltip]="chartOptionsSurgery?.tooltip" [fill]="chartOptionsSurgery?.fill"
                                            [dataLabels]="chartOptionsSurgery?.dataLabels"></apx-chart>
                                        </ng-template>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-lg-4 d-flex flex-column">
            <mat-card class="col mb-3">
                <mat-card-content class="h-100 border rounded-3 py-4 py-lg-0">
                    <div class="h-100 d-flex flex-column align-content-center justify-content-center">
                        <div class="col-md-12 text-center">
                            <div *ngIf="loadingChartSpinner; else contentChartReport">
                                <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <ng-template #contentChartReport>
                                <!-- Here is where your loaded content goes! -->
                                <apx-chart class="row" #report [series]="chartOptionsReport.series"
                                [chart]="chartOptionsReport.chart" [legend]="chartOptionsReport.legend"
                                [plotOptions]="chartOptionsReport.plotOptions" [colors]="chartOptionsReport?.colors"
                                [dataLabels]="chartOptionsReport?.dataLabels" [labels]="chartOptionsReport.labels"
                                [responsive]="chartOptionsReport.responsive"></apx-chart>
                            </ng-template>
                        
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-lg-8 d-flex flex-column">
            <mat-card class="col mb-3">
                <mat-card-header class="m-0 justify-content-center">
                    <mat-card-title>Average Treatment Cost</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12 text-center">
                            <div class="col-md-12">
                                <div *ngIf="loadingChartSpinner; else contentChartCost">
                                    <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                    </mat-progress-spinner>
                                </div>
                                <ng-template #contentChartCost>
                                    <!-- Here is where your loaded content goes! -->
                                    <apx-chart class="row" #cost [series]="chartOptionsCost.series"
                                    [chart]="chartOptionsCost.chart" [grid]="chartOptionsCost.grid"
                                    [plotOptions]="chartOptionsCost.plotOptions" [markers]="chartOptionsCost?.markers"
                                    [dataLabels]="chartOptionsCost?.dataLabels" [stroke]="chartOptionsCost.stroke"
                                    [fill]="chartOptionsCost.fill" [xaxis]="chartOptionsCost.xaxis"
                                    [colors]="chartOptionsCost.colors" [tooltip]="chartOptionsHospital?.tooltip"></apx-chart>
                                </ng-template>
                            
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>