<div [ngClass]="{ 'collapsed': collapsedNav && !isMovil}">
    <div class="sidenav-header" [class]="sidenavheaderColor">
        <span>{{ collapsedNav && !isMovil ? 'S' : 'SideNav' }}</span>
    </div>
    <hr class="m-auto" style="width: 88%;">
    <div class="user-profile p-2">
        <div class="d-flex">
            <div class="col-6">
                <div class="avatar-upload-modal">
                    <div class="avatar-preview-modal">
                        <div [style.backgroundImage]="'url(../../../assets/images/avatars/avatar-1.png)'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 align-self-center description-profile">
                <p class="mb-0 user-name">{{this.usuario?.username}} {{this.usuario?.ape_usuario}}</p>
                <p class="mb-0 text-secondary mat-small fw-bold">{{userRol}}</p>
                <p class="mb-0 user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </p>
            </div>
        </div>
    </div>
    <hr class="m-auto" style="width: 88%;">
    <ul class="metismenu" id="menu" #menuElement>
        <li *ngFor="let menu of menus"
        [ngClass]="{ 'menu-label':menu.title, 'd-block d-sm-none': menu.description == 'About Us' || menu.description == 'Contact Us' || menu.title == 'Info'} "
        [class]="linkActiveColor + ' '+ menu.class_active" [id]="menu.description | replaceCharacterDashboard">
        <ng-container *ngIf="!menu.title; else getTitle">
            <a (click)="onGetRoutes(menu.id_menu)" [ngClass]="menu.url ? '' : 'has-arrow'" [id]="menu.url"
                role="button"> 
                <div class="parent-icon">
                    <i class='{{menu.icon}}'></i>
                </div>
                <div class="menu-title">{{menu.description}}</div>
            </a>
            <ul *ngIf="!menu.url">
                <li *ngFor="let items of menu.subitem" [class]="linkActiveColor + ' '+ items.class_active" [id]="(menu?.description || '') + (items?.description || '') | replaceCharacterDashboard">
                            <a (click)="onGetSubRoutes(items.id_menu,items.id_submenu)" [id]="items.url" role="button"><i
                                class="bx bx-right-arrow-alt"></i>{{items.description}}</a>
                </li>
            </ul>
        </ng-container>
        <ng-template #getTitle>
            <span class="title-link">{{menu.title}}</span>
        </ng-template>
    </li>
    </ul>
</div>