<div [ngClass]="{ 'collapsed': collapsedNav && !isMovil}">
    <div class="sidenav-header" [class]="sidenavheaderColor">
        <span>{{ collapsedNav && !isMovil ? 'S' : 'SideNav' }}</span>
    </div>
    <hr class="m-auto" style="width: 88%;">
    <div class="user-profile p-2">
        <div class="d-flex">
            <div class="col-6">
                <div class="avatar-upload-modal">
                    <div class="avatar-preview-modal">
                        <div [style.backgroundImage]="'url(../../../assets/images/avatars/avatar-1.png)'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 align-self-center description-profile">
                <p class="mb-0 user-name">Jhyeson Jhonatan Limachi Noriega</p>
                <p class="mb-0 text-secondary mat-small fw-bold">Admin</p>
                <p class="mb-0 user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </p>
            </div>
        </div>
    </div>
    <hr class="m-auto" style="width: 88%;">
    <ul class="metismenu" id="menu">
        <li *ngFor="let dato of datos"
            [ngClass]="{ 'menu-label':dato.title, 'd-block d-sm-none': dato.descripcion == 'About Us' || dato.descripcion == 'Contact Us' || dato.title == 'Info'} "
            [class]="linkActiveColor + ' '+ dato.classActive">
            <!-- Muestralo si no existe un title-->
            <ng-container *ngIf="!dato.title; else getTitle">
                <!-- <a (click)="onGetRoutes(dato.url)" [ngClass]="dato.url ? '' : 'has-arrow'" [id]="dato.url"
                    role="button"> -->
                <a (click)="onGetRoutes(dato.id)" [ngClass]="dato.url ? '' : 'has-arrow'" [id]="dato.url"
                    role="button"> 
                    <div class="parent-icon">
                        <i class='{{dato.icon}}'></i>
                    </div>
                    <div class="menu-title">{{dato.descripcion}}</div>
                </a>
                <!-- Muestralo si no existe una ruta -->
                <ul *ngIf="!dato.url">
                    <li *ngFor="let items of dato.subitem" [class]="linkActiveColor + ' '+ items.classActive">
                        <!-- <a (click)="onGetRoutes(items.url)" [id]="items.url" role="button"><i
                                class="bx bx-right-arrow-alt"></i>{{items.descripcion}}</a> -->
                                <a (click)="onGetSubRoutes(items.id,items.idMenu)" [id]="items.url" role="button"><i
                                    class="bx bx-right-arrow-alt"></i>{{items.descripcion}}</a>
                    </li>
                </ul>
            </ng-container>
            <ng-template #getTitle>
                <span class="title-link">{{dato.title}}</span>
            </ng-template>
        </li>
    </ul>
</div>