.widgets-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
  }
  
.bg-gradient-cosmic{
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224)) !important;
}

.bg-gradient-burning{
  background:  linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43))!important;
}

.bg-gradient-lush{
  background: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99))!important;
}

.bg-gradient-kyoto{
  background: linear-gradient(to right, rgb(247, 151, 30), rgb(255, 210, 0))!important;
}

.bg-gradient-blues{
  background: linear-gradient(to right, rgb(86, 204, 242), rgb(47, 128, 237))!important
}

.bg-gradient-moonlit{
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100))!important;
}