<div class="container">
    <div class="row row-cols-1 mb-3">
        <div class="col">
            <mat-card class="col w-100 mb-3">
                <mat-card-content>
                    <div class="container-fluid">
                           <app-search></app-search>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 d-flex flex-column">
            <mat-card class="text-break mb-3">
                <mat-card-header class="m-0">
                    <mat-card-title>Recent Orders</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="py-2">
                           <app-services-orders></app-services-orders>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>