<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
        <div class="col-12">
            <mat-card class="text-break mb-3">
                <mat-card-header class="m-0">
                    <mat-card-title>User Data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="py-2">
                            <div class="row">
                                <div class="col-12 col-sm-5 col-lg-3 my-3">
                                    <div class="w-100 h-100">
                                        <div
                                            class="h-100 d-flex flex-column align-content-center justify-content-center">
                                            <h2>pero mas bien lokita</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-7 col-lg-9 my-3">
                                    <div
                                        class="h-100 d-flex flex-wrap flex-column flex-sm-row align-content-center justify-content-center py-4">
                                        <div class="col-12 col-lg-6 fs-6 px-2">
                                            <p>
                                                <b class="">Nombre: </b>
                                                Jheyson Limachi
                                            </p>
                                            <p>
                                                <b class="">Nombre: </b>
                                                Avenida Villa ventura Calle Simon Bolivar cmt 9
                                            </p>
                                            <p>
                                                <b class="">Nombre: </b>
                                                Jheyson Limachi
                                            </p>
                                            <p>
                                                <b class="">Nombre: </b>
                                                <b class="cursor-pointer">
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-secondary"></i>
                                                </b>
                                            </p>
                                        </div>
                                        <div class="col-12 col-lg-6 fs-6 px-2">
                                            <p>
                                                <b class="">Nombre: </b>
                                                Jheyson Limachi
                                            </p>
                                            <p>
                                                <b class="">Nombre: </b>
                                                Jheyson Limachi
                                            </p>
                                            <p>
                                                <b class="">Nombre: </b>
                                                Jheyson Limachi
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h2>Algunos Trabajos Realizados</h2>
                                </div>
                                <div class="col-12" style="background: #000;">
                                    <app-swiper-carousel [imagen]="imagen" [descripcion]="descripcion"
                                        [nombre]="nombre">
                                    </app-swiper-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>