<div class="row main-content text-center col-12 col-sm-8 col-lg-6 animate__animated animate__fadeInLeft">
    <div class="col-md-4 text-center company__info order-1">
        <div class="h-100 d-flex flex-column justify-content-center ">
            <h2 class="mb-4">
                <i class="fas fa-cloud-arrow-down fa-2xl"></i>
            </h2>
            <div class="d-none d-md-block mb-4">
                <div class="justify-content-center">
                    <button mat-button mat-stroked-button type="button" class="btn-sign-in fw-bold"
                        [routerLink]="['/auth/signup']">
                        <i class="fas fa-cloud-arrow-down fa-lg"></i>
                        SignUp
                    </button>
                </div>
            </div>
            <div class="d-none d-md-block">
                <div class="justify-content-center">
                    <button mat-button mat-stroked-button type="button" class="btn-dashboard fw-bold" [routerLink]="['/dashboard/home']">
                        <i class="fas fa-cloud-arrow-down fa-lg"></i>
                        Return
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form order-2">
        <form>
            <div class="container-fluid">
                <div class="row">
                    <h2 class="my-3">Log In</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label class="fw-bold">Email</mat-label>
                            <input matInput type="text" [(ngModel)]="email" name="email" placeholder="Ingrese su Correo Electronico"
                                 autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label class="fw-bold">Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" placeholder="Ingrese su Correo Password"
                                autocomplete="off">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                <i
                                    [ngClass]="{ 'fa-2xs fas': true, 'fa-eye': hide === false, 'fa-eye-slash':hide === true}"></i>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12 mb-3">
                        <a routerLink="" class="link-light">Forgot password?</a>
                    </div>
                    <div class="col-sm-12 col-md-12 mb-3">
                        <div class="justify-content-center">
                            <button mat-button mat-stroked-button type="button" class="text-wrap text-break btn-login" (click)="login()" >
                                <i class="fas fa-cloud-arrow-down fa-lg"></i>
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 mb-3">
                        <div class="justify-content-center">
                            <button mat-button mat-stroked-button type="button" [routerLink]="['/home']"
                                class="text-wrap text-break btn-facebook">
                                <i class="fas fa-cloud-arrow-down fa-lg"></i>
                                Login with Facebook
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 mb-4">
                        <div class="justify-content-center">
                            <button mat-button mat-stroked-button type="button" class="text-wrap text-break btn-google" (click)="login()">
                                <i class="fas fa-cloud-arrow-down fa-lg"></i>
                                Login with Google+
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row d-block d-md-none">
                    <p class="text-secondary fw-bold">Don't have an account?
                        <a [routerLink]="['/auth/signup']" class="link-light">Register Here</a>
                    </p>
                </div>
                <div class="row d-block d-md-none">
                    <p class="text-secondary fw-bold">Return in
                        <a [routerLink]="['/home']" class="link-light">Dashboard...</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>