<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="about-us.component.css">
</head>

<body>

  <section class="container section 2">
    <h3 class="container">holaa</h3>
<div class="us">
<div class="us-paragraph">
<p class="paragraph-text">
    Somos una Web que ofrece servicios a personas que buscan un trabajo rapido y poder estar a flote en nuestra agitada economia
</p>
<p class="paragraph-text">
    Ofrecemos empleos de todo tipo ya sea tipo domestico hasta de carga de muebles
</p>
<p class="paragraph-text">
    Y nuestro objetivo es que sea lo mas eficaz y rapido posible para asi lograr una buena acogida de parte del publico objetivo.
</p>
</div>
<div class="us-img">
   <img src="images/sobre_nostros.jpg" alt="" class="img-img">
</div>

</div> 
</section>


</body>
</html>