<div class="container">
    <app-sectiorn-charts></app-sectiorn-charts>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 mb-3">
        <div class="col">
            <mat-card class="text-break my-2 j-red-premium" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Total Orders</p>
                                <h3 class="mb-0">876</h3>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bx-cart'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar class="j-custom-progress-bar-white"  mode="determinate" value="40">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 j-purple-premium" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Total Income</p>
                                <h3 class="mb-0">$52,945</h3>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bx-wallet'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar class="j-custom-progress-bar-white" mode="determinate" value="60">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 j-pink-premium" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Total Users</p>
                                <h3 class="mb-0">24.5K</h3>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bx-bulb'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar class="j-custom-progress-bar-white" mode="determinate" value="80">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 j-dark-premium" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Comments</p>
                                <h3 class="mb-0">869</h3>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bx-chat'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar class="j-custom-progress-bar-white" mode="determinate" value="30">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-4 d-flex flex-column">
            <mat-card class="text-break mb-3">
                <mat-card-header class="m-0 justify-content-center">
                    <mat-card-title>New Customers</mat-card-title>
                </mat-card-header>
                <mat-card-content class="j-custom-scroll">
                    <div class="init-scroll" style="height: 320px;">
                        <div class="container-fluid">
                            <div class="j-menu-dropdown py-1">
                                <div *ngFor="let menu of menus"
                                    [ngClass]="{'j-menu j-menu-hover border-top border-bottom':true,'active': menu.active , 'dropdown':menu.type === 'dropdown'}">
                                    <div class="content-menu" (click)='toggle2(menu)'>
                                        <div class="d-flex flex-wrap align-items-center p-2">
                                            <div class="col-3 text-center">
                                                <img [src]="menu.img"
                                                    style="border-radius: 100%;width: 100%;max-width:50px ;">
                                            </div>
                                            <div class="col-7 px-2 flex-nowrap overflow-hidden">
                                                <h4 class="mb-0 mat-body-strong text-truncate">{{menu.name}}
                                                </h4>
                                                <p class="mb-0 mat-small text-secondary text-truncate">
                                                    {{menu.email}}</p>
                                            </div>
                                            <div class="col-2 px-2">
                                                <i class="acordion-icon fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="menu.type === 'dropdown'" class="submenu" [@slide]="getState(menu)">
                                        <div class="submenu-content col-12 text-center">
                                            <div class="d-flex p-2 justify-content-evenly">
                                                <a class="j-custom-icon-hover"><i
                                                        class='bx bxs-envelope custom-icon'></i></a>
                                                <a class="j-custom-icon-hover"><i
                                                        class='bx bxs-phone custom-icon'></i></a>
                                                <a class="j-custom-icon-hover"><i
                                                        class='bx bx-dots-vertical-rounded custom-icon'></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="find-scroll"></div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-xl-4 d-flex flex-column">
            <mat-card class="text-break mb-3">
                <mat-card-header class="m-0 justify-content-center">
                    <mat-card-title>Store Metrics</mat-card-title>
                </mat-card-header>
                <mat-card-content class="j-custom-scroll">
                    <div class="init-scroll" style="height: 320px;">
                        <div class="container-fluid">
                            <mat-card class="my-4 text-break border">
                                <mat-card-content>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Products</p>
                                            <h2 class="mb-0">856</h2>
                                        </div>
                                        <div class="ms-auto widgets-icon bg-primary text-primary bg-opacity-25">
                                            <i class="fas fa-cookie fa-xl"></i>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="my-4 text-break border">
                                <mat-card-content>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Customers</p>
                                            <h2 class="mb-0">45,241</h2>
                                        </div>
                                        <div class="ms-auto widgets-icon bg-success text-success bg-opacity-25">
                                            <i class="fas fa-bookmark fa-xl"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="my-4 text-break border">
                                <mat-card-content>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Categories</p>
                                            <h2 class="mb-0">98</h2>
                                        </div>
                                        <div class="ms-auto widgets-icon bg-danger text-danger bg-opacity-25">
                                            <i class="fas fa-cloud-arrow-down fa-xl"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="my-4 text-break border">
                                <mat-card-content>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Orders</p>
                                            <h2 class="mb-0">124</h2>
                                        </div>
                                        <div class="ms-auto widgets-icon bg-primary text-primary bg-opacity-25">
                                            <i class="fas fa-cloud-arrow-down fa-xl"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="my-4 text-break border">
                                <mat-card-content>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Vendors</p>
                                            <h2 class="mb-0">55</h2>
                                        </div>
                                        <div class="ms-auto widgets-icon bg-warning text-warning bg-opacity-25">
                                            <i class="fas fa-cloud-arrow-down fa-xl"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div class="find-scroll"></div>

                </mat-card-content>
            </mat-card>
            <!-- <div class="card radius-10 w-100 overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-0">Store Metrics</h5>
                        </div>
                        <div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
                        </div>
                    </div>
                </div>

                <div class="store-metrics p-3 mb-3">

                    <div class="card mt-3 radius-10 border shadow-none">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-secondary">Total Products</p>
                                    <h4 class="mb-0">856</h4>
                                </div>
                                <div class="widgets-icons bg-light-primary text-primary ms-auto"><i
                                        class='bx bxs-shopping-bag'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card radius-10 border shadow-none">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-secondary">Total Customers</p>
                                    <h4 class="mb-0">45,241</h4>
                                </div>
                                <div class="widgets-icons bg-light-danger text-danger ms-auto"><i
                                        class='bx bxs-group'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card radius-10 border shadow-none">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-secondary">Total Categories</p>
                                    <h4 class="mb-0">98</h4>
                                </div>
                                <div class="widgets-icons bg-light-success text-success ms-auto"><i
                                        class='bx bxs-category'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card radius-10 border shadow-none">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-secondary">Total Orders</p>
                                    <h4 class="mb-0">124</h4>
                                </div>
                                <div class="widgets-icons bg-light-info text-info ms-auto"><i
                                        class='bx bxs-cart-add'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card radius-10 border shadow-none mb-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-secondary">Total Vendors</p>
                                    <h4 class="mb-0">55</h4>
                                </div>
                                <div class="widgets-icons bg-light-warning text-warning ms-auto"><i
                                        class='bx bxs-user-account'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-12 col-xl-4 d-flex flex-column">
            <mat-card class="text-break mb-3">
                <mat-card-header class="m-0 justify-content-center">
                    <mat-card-title>New Customers</mat-card-title>
                </mat-card-header>
                <mat-card-content class="j-custom-scroll">
                    <div class="init-scroll" style="height: 320px;">
                        <div class="container-fluid">
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/01.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Black Boost Chair</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">148 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$246.24</h4>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/02.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Red Single Sofa</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">122 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$328.14</h4>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/03.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Pink Rounded Sofa</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">105 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$124.35</h4>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/04.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Brown Single Table</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">201 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$158.34</h4>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/05.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Grey Long Chair</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">146 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$158.24</h4>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/06.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Beautiful Sofa</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">210 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$520.24</h4>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-wrap align-items-center border-top border-bottom p-2 cursor-pointer">
                                <div class="col-2 text-center" style="background-color: black; border-radius:0.8rem ">
                                    <img src="assets/images/products/07.png" style="width: 100%;max-width: 70px;">
                                </div>
                                <div class="col-6 px-2 flex-nowrap overflow-hidden">
                                    <h4 class="mb-0 mat-body-strong text-truncate">
                                        Grey Stand Table</h4>
                                    <p class="mb-0 mat-small text-secondary text-truncate">115 Sales</p>
                                </div>
                                <div class="col-4 ms-auto text-center">
                                    <h4 class="mb-0">$345.24</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="find-scroll"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 d-flex flex-column">
            <mat-card class="text-break mb-3">
                <mat-card-header class="m-0">
                    <mat-card-title>Recent Orders</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="py-2">
                            <div
                                [ngClass]="{'example-table-container p3 mat-elevation-z8 ': true, 'example-table-scroll-container':columnsHeader.length > 5}">
                                <mat-table [dataSource]="listProducts" multiTemplateDataRows>
                                    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsHeader">
                                        <th mat-header-cell *matHeaderCellDef
                                            [ngClass]="{'size-column-table-scroll': columnsHeader.length > 5,'size-column-table': columnsHeader.length <= 5}">
                                            {{geheaderTable(column)}}</th>
                                        <td mat-cell *matCellDef="let element" [attr.data-label]="geheaderTable(column)"
                                            [ngClass]="{'py-2 text-center custom-row':true,'size-column-table-scroll': columnsHeader.length > 5,'size-column-table': columnsHeader.length <= 5}">
                                            <ng-container [ngSwitch]="geheaderTable(column)">
                                                <div *ngSwitchCase="'Status'" [ngClass]="{'status bg-opacity-25': true,
                                                'bg-success text-success':element[column] === 'Completed',
                                                'bg-danger text-danger':element[column] === 'Cancelled',
                                                'bg-warning  text-warning':element[column] === 'Pending'}">
                                                {{element[column]}}</div>
                                                <div *ngSwitchDefault style="width:90%;margin:auto">{{element[column]}}
                                                </div>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <!-- Expanded Content Column - Detalle -->
                                    <ng-container matColumnDef="expandedDetail">
                                        <td mat-cell class="j-custom-table-expand" *matCellDef="let element"
                                            [attr.colspan]="columnsHeader.length">
                                            <div class="overflow-hidden w-100"
                                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <div class="d-flex flex-wrap py-3">
                                                    <div class="col-12 col-md-3 col-lg-3 text-center align-self-center">
                                                        <img [src]="element.productsImg"
                                                            class="j-custom-border j-custom-border-shadow p-1"
                                                            style="border-radius: 100%;width: 100%;max-width: 70px;background: rgba(0,0,0,0.1);">
                                                    </div>
                                                    <div class="col-12 col-md-9 col-lg-6 px-2">
                                                        <h4 class="mb-0 mat-body-strong">
                                                            Black Boost Chair</h4>
                                                        <p class="mb-0 mat-small text-secondary">
                                                            {{element.description}}
                                                        </p>
                                                    </div>
                                                    <div class="col-12 col-lg-3 py-3 py-lg-0 ms-auto text-center">
                                                        <div
                                                            class="h-100 d-flex flex-wrap align-content-center justify-content-evenly">
                                                            <button mat-mini-fab matTooltip="View" color="primary"
                                                                class="j-custom-mat-icon-hover mat-icon-hover-primary">
                                                                <i class="fas fa-eye"></i>
                                                            </button>
                                                            <button mat-mini-fab matTooltip="Edit" color="accent"
                                                                class="j-custom-mat-icon-hover mat-icon-hover-accent">
                                                                <i class="fas fa-pen-to-square"></i>
                                                            </button>
                                                            <button mat-mini-fab matTooltip="Delete" color="warn"
                                                                class="j-custom-mat-icon-hover mat-icon-hover-warn">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="columnsHeader; sticky: true"></tr>
                                    <!-- efectos que presentara la fila al expandirse -->
                                    <tr mat-row *matRowDef="let element; columns: columnsHeader;"
                                        class="table-hover-row" [class.table-select-row]="expandedElement === element"
                                        (click)="expandedElement = expandedElement === element ? null : element">
                                    </tr>
                                    <!-- Tamaño que se expandira -->
                                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                        class="table-detail-row">
                                    </tr>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>