<div class="container">
    <div class="page-breadcrumb d-flex align-items-center mb-3 text-break">
        <div class="border-end pe-3 m-0 mat-h2">Widget</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ul class="list-inline mb-0 p-0 mat-h3">
                    <li class="list-inline-item"><i class="bx bx-home-alt"></i>
                    </li>
                    <li class="list-inline-item"><i class="bx bx-chevron-right"></i>
                    </li>
                    <li class="list-inline-item">Widgets</li>
                </ul>
            </nav>
        </div>
    </div>
    <h2>DATA WIDGETS</h2>
    <hr>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 mb-3">
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Users</p>
                                <h2 class="mb-0">85,028</h2>
                            </div>
                            <div class="ms-auto align-self-center">
                                <button mat-icon-button [matMenuTriggerFor]="menuUser" style="font-size: 30px;">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </button>
                                <mat-menu #menuUser="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>dialpad</mat-icon>
                                        <span>Redial</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>voicemail</mat-icon>
                                        <span>Check voice mail</span>
                                    </button>
                                    <button mat-menu-item>
                                        <mat-icon>notifications_off</mat-icon>
                                        <span>Disable alerts</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="col-12">
                            <div *ngIf="loadingChartSpinner; else contentChartTotalUser">
                                <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <ng-template #contentChartTotalUser>
                                <!-- Here is where your loaded content goes! -->
                                <apx-chart #totalUser class="row" [series]="chartOptionsTotalUser?.series"
                                [chart]="chartOptionsTotalUser?.chart" [stroke]="chartOptionsTotalUser?.stroke"
                                [fill]="chartOptionsTotalUser?.fill" [colors]="chartOptionsTotalUser?.colors"
                                [tooltip]="chartOptionsTotalUser?.tooltip">
                            </apx-chart>
                            </ng-template>
                      
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Page Views</p>
                                <h2 class="mb-0">42,892</h2>
                            </div>
                            <div class="ms-auto align-self-center">
                                <button mat-icon-button [matMenuTriggerFor]="menuPage" style="font-size: 30px;">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </button>
                                <mat-menu #menuPage="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>dialpad</mat-icon>
                                        <span>Redial</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>voicemail</mat-icon>
                                        <span>Check voice mail</span>
                                    </button>
                                    <button mat-menu-item>
                                        <mat-icon>notifications_off</mat-icon>
                                        <span>Disable alerts</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="col-12">
                            <div *ngIf="loadingChartSpinner; else contentChartViews">
                                <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <ng-template #contentChartViews>
                                <!-- Here is where your loaded content goes! -->
                                <apx-chart #views class="row" [series]="chartOptionsViews?.series"
                                [chart]="chartOptionsViews?.chart" [stroke]="chartOptionsViews?.stroke"
                                [fill]="chartOptionsViews?.fill" [colors]="chartOptionsViews?.colors"
                                [tooltip]="chartOptionsViews?.tooltip" [plotOptions]="chartOptionsViews?.plotOptions">
                            </apx-chart>
                            </ng-template>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Avg. Session Duration</p>
                                <h2 class="mb-0">00:03:20</h2>
                            </div>
                            <div class="ms-auto align-self-center">
                                <button mat-icon-button [matMenuTriggerFor]="menuSession" style="font-size: 30px;">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </button>
                                <mat-menu #menuSession="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>dialpad</mat-icon>
                                        <span>Redial</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>voicemail</mat-icon>
                                        <span>Check voice mail</span>
                                    </button>
                                    <button mat-menu-item>
                                        <mat-icon>notifications_off</mat-icon>
                                        <span>Disable alerts</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="col-12">
                            <div *ngIf="loadingChartSpinner; else contentChartSessionDuration">
                                <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <ng-template #contentChartSessionDuration>
                                <!-- Here is where your loaded content goes! -->
                                <apx-chart #sessionDuration class="row" [series]="chartOptionsSessionDuration?.series"
                                [chart]="chartOptionsSessionDuration?.chart"
                                [stroke]="chartOptionsSessionDuration?.stroke"
                                [fill]="chartOptionsSessionDuration?.fill"
                                [colors]="chartOptionsSessionDuration?.colors"
                                [tooltip]="chartOptionsSessionDuration?.tooltip">
                            </apx-chart>
                            </ng-template>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Bounce Rate</p>
                                <h2 class="mb-0">51.46%</h2>
                            </div>
                            <div class="ms-auto align-self-center">
                                <button mat-icon-button [matMenuTriggerFor]="menuBounce" style="font-size: 30px;">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </button>
                                <mat-menu #menuBounce="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>dialpad</mat-icon>
                                        <span>Redial</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>voicemail</mat-icon>
                                        <span>Check voice mail</span>
                                    </button>
                                    <button mat-menu-item>
                                        <mat-icon>notifications_off</mat-icon>
                                        <span>Disable alerts</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="col-12">
                            <div *ngIf="loadingChartSpinner; else contentChartBounceRate">
                                <mat-progress-spinner diameter="20" [value]="valueChartSpinner" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <ng-template #contentChartBounceRate>
                                <!-- Here is where your loaded content goes! -->
                                <apx-chart #bounceRate class="row" [series]="chartOptionsBounceRate?.series"
                                [chart]="chartOptionsBounceRate?.chart" [stroke]="chartOptionsBounceRate?.stroke"
                                [fill]="chartOptionsBounceRate?.fill" [colors]="chartOptionsBounceRate?.colors"
                                [tooltip]="chartOptionsBounceRate?.tooltip"
                                [plotOptions]="chartOptionsBounceRate?.plotOptions">
                            </apx-chart>
                            </ng-template>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 mb-3">
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Orders</p>
                                <h2 class="mb-0">876</h2>
                            </div>
                            <div class="ms-auto align-self-center" style="font-size: 30px;">
                                <i class='bx bx-cart'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar color="primary" mode="determinate" value="40">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Income</p>
                                <h2 class="mb-0">$52,945</h2>
                            </div>
                            <div class="ms-auto align-self-center" style="font-size: 30px;">
                                <i class='bx bx-wallet'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar color="accent" mode="determinate" value="60">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Users</p>
                                <h2 class="mb-0">24.5K</h2>
                            </div>
                            <div class="ms-auto align-self-center" style="font-size: 30px;">
                                <i class='bx bx-bulb'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar color="warn" mode="determinate" value="80">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Comments</p>
                                <h2 class="mb-0">869</h2>
                            </div>
                            <div class="ms-auto align-self-center" style="font-size: 30px;">
                                <i class='bx bx-chat'></i>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <mat-progress-bar color="accent" mode="determinate" value="30">
                            </mat-progress-bar>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <h2>STATIC WIDGETS</h2>
    <hr>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 mb-3">
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Sessions</p>
                                <h1 class="mb-0">32,842 <small class="mat-small mb-0 text-success"> (+40%)</small></h1>
                                <small class="mat-small mb-0 text-success">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-primary text-primary bg-opacity-25"
                                style="font-size: 35px;">
                                <i class='bx bx-refresh'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Users</p>
                                <h1 class="mb-0">16,352 <small class="mat-small mb-0 text-success"> (+22%)</small></h1>
                                <small class="mat-small mb-0 text-success">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-info text-info bg-opacity-25"
                                style="font-size: 35px;">
                                <i class='bx bx-group'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Time on Site</p>
                                <h1 class="mb-0">34m 14s <small class="mat-small mb-0 text-success"> (+55%)</small></h1>
                                <small class="mat-small mb-0 text-success">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-success text-success bg-opacity-25"
                                style="font-size: 35px;">
                                <i class='bx bx-time'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Goal Completions</p>
                                <h1 class="mb-0">1,94,2335</h1>
                                <small class="mat-small mb-0">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-danger text-danger bg-opacity-25"
                                style="font-size: 35px;">
                                <i class='bx bxs-cube'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Bounce Rate</p>
                                <h1 class="mb-0">58% <small class="mat-small mb-0 text-danger"> (-16%)</small></h1>
                                <small class="mat-small mb-0 text-danger">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-warning text-warning bg-opacity-25"
                                style="font-size: 35px;">
                                <i class='bx bx-line-chart'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">New Sessions</p>
                                <h1 class="mb-0">96% <small class="mat-small mb-0 text-danger"> (+54%)</small></h1>
                                <small class="mat-small mb-0 text-danger">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-dark text-light"
                                style="font-size: 35px;">
                                <i class='bx bx-bar-chart'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 mb-3">
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Orders</p>
                                <h1 class="mb-0">876</h1>
                            </div>
                            <div class="ms-auto align-self-center text-primary" style="font-size: 40px;">
                                <i class='bx bxl-chrome'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Income</p>
                                <h1 class="mb-0">$52,945</h1>
                            </div>
                            <div class="ms-auto align-self-center text-warning" style="font-size: 40px;">
                                <i class='bx bxl-github'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Total Users</p>
                                <h1 class="mb-0">24.5K</h1>
                            </div>
                            <div class="ms-auto align-self-center text-danger" style="font-size: 40px;">
                                <i class='bx bxl-firefox'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Comments</p>
                                <h1 class="mb-0">869</h1>
                            </div>
                            <div class="ms-auto align-self-center text-success" style="font-size: 40px;">
                                <i class='bx bxl-shopify'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-5 mb-3">
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12 text-center">
                            <div class="mx-auto rounded-circle widgets-icon bg-primary text-primary bg-opacity-25 mb-2"
                                style="font-size: 35px;">
                                <i class='bx bx-refresh'></i>
                            </div>
                            <h1 class="mb-2">84K</h1>
                            <p class="mb-0">Facebook Users</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12 text-center">
                            <div class="mx-auto rounded-circle widgets-icon bg-danger text-danger bg-opacity-25 mb-2"
                                style="font-size: 35px;">
                                <i class='bx bxl-twitter'></i>
                            </div>
                            <h1 class="mb-2">34M</h1>
                            <p class="mb-0">Twitter Followers</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12 text-center">
                            <div class="mx-auto rounded-circle widgets-icon bg-info text-info bg-opacity-25 mb-2"
                                style="font-size: 35px;">
                                <i class='bx bxl-linkedin-square'></i>
                            </div>
                            <h1 class="mb-2">56K</h1>
                            <p class="mb-0">Linkedin Followers</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12 text-center">
                            <div class="mx-auto rounded-circle widgets-icon bg-success text-success bg-opacity-25 mb-2"
                                style="font-size: 35px;">
                                <i class='bx bxl-dropbox'></i>
                            </div>
                            <h1 class="mb-2">28K</h1>
                            <p class="mb-0">Dropbox Users</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2" style="border-radius: 10px;">
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="col-md-12 text-center">
                            <div class="mx-auto rounded-circle widgets-icon bg-warning text-warning bg-opacity-25 mb-2"
                                style="font-size: 35px;">
                                <i class='bx bx-refresh'></i>
                            </div>
                            <h1 class="mb-2">84K</h1>
                            <p class="mb-0">Facebook Users</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <h2>COLOR STATIC WIDGETS</h2>
    <hr>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 mb-3">
        <div class="col">
            <mat-card class="text-break my-2 bg-primary bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Total Orders</p>
                                <h1 class="mb-0">876</h1>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bxl-chrome'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 bg-warning bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Total Income</p>
                                <h1 class="mb-0">$52,945</h1>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bxl-github'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 bg-danger bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Total Users</p>
                                <h1 class="mb-0">24.5K</h1>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bxl-firefox'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 bg-success bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-white">
                                <p class="mb-0">Comments</p>
                                <h1 class="mb-0">869</h1>
                            </div>
                            <div class="ms-auto align-self-center text-white" style="font-size: 40px;">
                                <i class='bx bxl-shopify'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 mb-3">
        <div class="col">
            <mat-card class="text-break my-2 bg-info bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex text-white">
                            <div>
                                <p class="mb-0">Sessions</p>
                                <h1 class="mb-0">32,842 <small class="mat-small mb-0"> (+40%)</small></h1>
                                <small class="mat-small mb-0">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-light text-info"
                                style="font-size: 35px;">
                                <i class='bx bx-refresh'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 bg-secondary bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex text-white">
                            <div>
                                <p class="mb-0">Users</p>
                                <h1 class="mb-0">16,352 <small class="mat-small mb-0"> (+22%)</small></h1>
                                <small class="mat-small mb-0">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-light text-secondary"
                                style="font-size: 35px;">
                                <i class='bx bx-group'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 bg-dark bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column text-white">
                        <div class="d-flex">
                            <div>
                                <p class="mb-0">Time on Site</p>
                                <h1 class="mb-0">34m 14s</h1>
                                <small class="mat-small mb-0">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-light text-dark"
                                style="font-size: 35px;">
                                <i class='bx bx-time'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="text-break my-2 bg-light bg-gradient" style="border-radius: 10px;">
                <mat-card-content class="dashboard-card-content">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <div class="text-dark">
                                <p class="mb-0">Goal Completions</p>
                                <h1 class="mb-0">1,94,2335</h1>
                                <small class="mat-small mb-0">Analytics for last week</small>
                            </div>
                            <div class="ms-auto align-self-center widgets-icon bg-dark text-light"
                                style="font-size: 35px;">
                                <i class='bx bxs-cube'></i>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
