

<div class="row main-content text-center col-12 col-sm-8 col-lg-6 animate__animated animate__fadeInRight">
    <div class="col-md-4 text-center company__info order-1 order-md-2">
        <div class="h-100 d-flex flex-column justify-content-center ">
            <!-- <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon> -->
            <div class="avatar-upload my-4" (click)="fileInput.click()">
                <div class="avatar-edit">
                    <input type='file' accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)"/>
                </div>
                <div class="avatar-preview">
                    <div [style.backgroundImage]="'url('+ imageUrl +')'">
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block mb-4">
                <div class="justify-content-center">
                    <button mat-button mat-stroked-button type="button" class="btn-sign-in fw-bold" [routerLink]="['/auth/signin']">
                        <!-- <fa-icon [icon]="['fas', 'user-plus']" size="lg"></fa-icon> -->
                        <i class="fas fa-cloud-arrow-down fa-lg"></i>
                        SignIn
                    </button>
                </div>
            </div>
            <div class="d-none d-md-block">
                <div class="justify-content-center">
                    <button mat-button mat-stroked-button type="button" class="btn-dashboard fw-bold" [routerLink]="['/home']">
                        <!-- <fa-icon [icon]="['fas', 'user-plus']" size="lg"></fa-icon> -->
                        <i class="fas fa-cloud-arrow-down fa-lg"></i>
                        Return
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form order-2 order-md-1">
        <form>
            <div class="container-fluid">
                <div class="row">
                    <h2 class="my-3">Register</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label class="fw-bold">Nombre</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Correo Electronico"
                                 autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label class="fw-bold">Apellido</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Correo Electronico"
                                 autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Correo Electronico" autocomplete="off"
                                name="nombreForm" minlength="5" maxlength="50" textOnly required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Password</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>prefijo combobox</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>telefono</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>tipo documento</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Numero Documento</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Departamento</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Provincia</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Distrito</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <mat-form-field appearance="outline" class="mb-3 w-100">
                            <mat-label>Dirección</mat-label>
                            <input matInput type="text" placeholder="Ingrese su Contraseña" autocomplete="off"
                                maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12 mb-4">
                        <div class="justify-content-center">
                            <button mat-button mat-stroked-button type="button"
                                class="text-wrap text-break btn-login" [routerLink]="['/home']">
                                <i class="fas fa-cloud-arrow-down fa-lg"></i>
                                Register
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row d-block d-md-none">
                    <p class="text-secondary fw-bold">Don't have an account? 
                        <a [routerLink]="['/auth/signin']" class="link-light">SigIn Here</a>
                    </p>
                </div>
                <div class="row d-block d-md-none">
                    <p class="text-secondary fw-bold">Return in
                        <a [routerLink]="['/home']" class="link-light">Dashboard...</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

